{% extends "WebappBlackspanBundle::layout.html.twig" %}
{% block title %}
Création d'un accès -{{ parent() }}
{% endblock %}
{% block webappblackspan_body %}
<h3>Creation d'un accès</h3>

<form action="{{ path('blackspan_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('blackspan') }}">
            Back to the list
        </a>
    </li>
</ul>
{%endblock%}